.breadcrumb a{
    text-decoration: none;

}
.breadcrumb{
    width: 100%;
    background-color: #2f3541;
    margin-bottom: 0;

}
@media (max-width: 720px) {
    .breadcrumb{
     display:none;
}    
} 
.breadcrumb_box{
    width: 90%;
    margin: 10px auto;
    position: relative;
}
.breadcrumb_list{
    display: flex;
    align-items: center;

}
.breadcrumb_list > li{
    font-size: 16px;
    color: #fff;
}
/*---把數字編號用不見--*/
.breadcrumb_box > ul {
    list-style-type: none;
}
/*before前面要弄一格*/
.breadcrumb_list > li:first-child ::before {
    content: '';
    margin: 0 0;
}
.breadcrumb_list > li ::before{
    content: "/";
    margin: 0 10px;
}

.breadcrumb_link:hover {
    color: #1b3766;
}
/*-------頁面提醒文字-----*/
.page_title{
    text-align: center;
    font-size: 2.6rem;
    
}