*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin-top: 50px;

}
.container{
    display: grid;
    grid: gap 1rem;
    max-width: 360px;
    height: 500px;
    margin: 0 auto;
}
.card{
    width: 100%;
    text-align: center;
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    color: #fff;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1),
    0 2px 2px rgba(0,0,0,.1),
    0 4px 4px rgba(0,0,0,.1),
    0 8px 8px rgba(0,0,0,.1),
    0 16px 16px rgba(0,0,0,.1);
    cursor: pointer;
}
.card::before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;

}
.card::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
  
    background-color: rgba(0, 0, 0, 0);
    /* background-image: linear-gradient(to bottom, 
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 25%,   
     rgba(0,0,0,0.2) 50%,
    rgba(0,0,0,0.3) 75%,
    rgba(0,0,0,0.8) 100%);
    transform: translateY(-50%); */
}
.card:nth-child(1)::before{
    background-image: url(../image/comingsoon/comingsoon_1.jpg);
   
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 1rem;
}
.title{
    font-size: 1.3rem;
    font-weight: bold;
    /* line-height: 5; */
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.sub-title{
    font-size: .5rem;
    color:gray;
}
.description{
    line-height: 1.15rem;
    color: rgb(185, 179, 96);
    line-height: 1.35;
}
.card:after{
    
    transform: translateY(0);
}
.content{
    transform: translateY(100%);
}
.card:hover{
    align-items: center;
  
}
.card:hover::before{
    transform: translateY(-4%);
}
.card:hover::after{
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .5);

}
.card:hover .content{
    transform: translateY(0);
}
.card:hover .content > *:not(.title){
    opacity: 1;
  
    transform: translateY(0);
}