
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----- 側邊 快速選單 menu -----*/

.aside_box {
    display: none; /* 先隱藏 等螢幕變大時才顯示*/

    margin-right: 10px;
    align-self: stretch;
}
.aside_menu_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 82.8px;
    background-color: #464f69;
}

.menu_title {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 24px 0;
    border-bottom: #fffdfc 1px solid;
}
.menu_list > li > a {
    width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #c4d3e3;
    text-decoration: none;
    font-size: 1.6rem;
    opacity: 0.6;
}
.menu_list > li > a > img {
    width: 60px;
    height: 60px;
}

.menu_list > li > a:hover {
    opacity: 1;
}
.section_2, .section_3 {
    width: 100%;
    margin-top: 10px;
}

.s2{
    width: 100%;
    position: relative;

}
.section_2{
    margin: 20px auto;
    padding: 10px 0px;
}
.bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../image/cinema.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-blend-mode: multiply;
}
.notice{
    margin: 50px auto;
    width: 100%;
    height: 100%;
}
.notice-head{
    margin-bottom: 3px;
    font-size: 20px;
    margin-left: 5px;
}
.Notice_title {
    background-color: #c4d3e3;
    color: #473e4a;
    font-size: 1.5rem;
    padding: 10px 5px;
    margin-top: 10px;
}
.Notice_list {

    margin-left: 25px;
    letter-spacing: 2px;
    line-height: 1.2;
    font-size: 1.3rem;
    padding: 5px;
}
.section2_title{
    border-bottom: none !important;
}


table{
    margin: 0 auto; 
    font-size: 20px;

}

td{
    font-size: 24px;
}
td >p{
    font-size: 12px;
    font-weight: 200;
    margin-top: 2px;
}

.cinema-introduction{
    width:100%;
    color: #fff;
    display: flex;
    margin-bottom: 50px;
}
.cinema-introduction > li{
    /* background-color: red; */
    width: 33.3%;
    height: 100%;
    position: relative;
}
h5{
    margin: 25px;
    padding-top: 35px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.intro-img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: relative;

 
}
.intro-txt{
    position: absolute;
    width: 100%;
    height:100%;
    /* background-color: yellow; */
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    /* display: flex;
    text-align: center;

    align-items: center; */
}
.intro-txt:hover{
    opacity: .5;
    transition: .3s;

}
#map {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: red; */

}

.mapbox {
    height: 500px;
    width: 100%;
    position: relative;
    /* background-color: blue; */
    margin-bottom: 10px;
}
.main-box{
    width: calc(100% - 115px);
    margin: 0 auto;
    color: #fff;
    /* background-color: #000; */
    margin-bottom: 50px;
}
.section{
    width: 100%;
}
.section_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box{
    width: 100%;
    margin:0 auto 10px 0;
}

.section1_title, .section2_title, .section3_title, .section4_title{
    padding: 15px 10px;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid rgb(143, 143, 143) ;
  margin-bottom: 10px;

}
.text-content{
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
    padding: 5px;
}
.contact-box{
    padding: 5px 10px;
    background-color: rgb(75, 4, 1);
}
.contact-item{
    line-height: 1.5;
}
.left-box {
    width: 100%;

}
.right-box {
    width: 100%;
}
.chair{
    width: 100%;
}
.chair_title{
    background-color: rgb(75, 4, 1);
    font-size: 1.3rem;
}
.chair_box{
    display: flex;

    line-height: 1.5;
    letter-spacing: 1px;
    padding: 5px;
    text-align: center;
}
.chair_box > div:first-child{
    width: 20%;
  
}
.chair_box > div:nth-child(2) {
    width: 80%;
    
}
.chair_box1 {
    font-size: 1.3rem;
}

.chair_box2 {
    background-color: #3e3e3f;
    font-size: 1.3rem;
}
.Barrier-free{
    width: 100%;
    line-height: 2;
    font-size: 1.3rem;
    margin: 20px 0;
}
.Barrier-free > h4 {
    background-color: rgb(75, 4, 1);
}
.Barrier-free > li {
    margin: 5px 10px;
}
.section_4{
    width: 100%;
    position: relative;
}

@media screen and (max-width: 720px){
    .main-box{
        width: 100%;
    }
    .section1_title, .section2_title, .section3_title, .section4_title{
        font-size: 30px;
    }
    .text-content, .Notice_list{
        font-size: 14px;
    }
    .chair_box1, .chair_box2{
        font-size: 14px;
    }
    .notice-head{
        font-size: 16px;
    }
    .Notice_title {

        font-size: 14px;
        padding: 10px 25px;
        margin-top: 5px;
    }

    .chair{
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
    }
    .Barrier-free{
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
    }
    .page_title, h5{
        font-size: 25px !important;
        font-weight: 300;
  
    }

    .container{
        width: 100%;
    }
    .cinema-introduction{
        display: block;
        width: 100%;
    }
    .cinema-introduction > li{
        width: 100%;
    }
    .intro-img{
        width: 100%;
        height: 100%;
        opacity: 0.5;
        position: relative;
    }
    .intro-txt{
        /* padding-bottom: 50px;
        padding-left: 20px; */
        font-weight: 500;
    }

}
@media screen and (min-width: 1024px){
    .content_box{
        display: flex;
    }
    .aside_box {
        display: block;
    }
    .main_box {
        width: calc(100% - 115px);
    }
    .section_1{
       flex-direction: row;
       justify-content: center;
       align-items: flex-start;
       position: relative;
    }
    .contact-box{
        padding: 5px 10px;
        background-color: rgb(75, 4, 1);
    }
    .left-box{
        width: calc(60% - 10px);
        margin-right: 10px;
    }
    .right-box{
        width: 40%;
        position: absolute;
        top:20px !important;
      
    }
    .right-box > img{
      
        height: 100%;
    }
}
@media screen and (min-width: 720px) and (max-width: 1024px){
    .cinema-introduction{
        flex-direction: column;
    }
    .cinema-introduction > li{
        /* background-color: red; */
        width: 100%;}
    .notice-head{
        font-size: 20px;
    }
}
