@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: url(./img/starry-night-1149815_960_720.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Lato' 'sans-serif';
    overflow: hidden;
}
/*使表面加上一層暗暗的*/
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .3);
}

/*把body 內部的東西全部蓋在最上層*/
body * {
    z-index: 1;
}

h1{
    font-size: 60px;
    margin: -80px 0 40px;
}
h1:hover{
    text-shadow: 0 0 10px #3498DB,
                0 0 20px #3498DB,
                0 0 30px #3498DB,
                0 0 40px #2980B9,
                0 0 70px #2980B9,
                0 0 80px #2980B9,
                0 0 100px #2980B9,
                0 0 150px #2980B9;
}
.countdown {
    display: flex;
    /* 放大或是縮小的倍率 */
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.time h2 {
    margin: 0 0 5px;
}
@media(max-width:500px){
    h1{
        font-size: 45px;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 15px;
    }
    .time small{
        font-size: 10px;
    }
}
.typing{
    animation: typing 3s steps(15) infinite;
    white-space: nowrap;
    border-right: 2px solid transparent;
    overflow: hidden;
    width: 900px;
}

@keyframes typing{
    from{ width: 0;}

}