<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!!test</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'
        integrity='sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg=='
        crossorigin='anonymous' />
    <style>
        .aaa {
            display: flex;
        }

        .gread-box {
            display: flex;

        }

        .gread-box>img {
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>
    <div id="box">

        <input type="text" v-model="rate" placeholder="Pls enter rate.." @keyup.enter='addto'>{{rate}}
        <input type="text" v-model="comment" placeholder="Pls text comment.." @keyup.enter='addto'>

        <button @click="addto">ClickNum</button>


        <div class="filterbtn" @click="sort('num')">評分(低到高)</div>
        <li class="aaa" v-for="(i,index) in stars">{{i.num}}
            <p>aaa{{i.star}}</p>
            <p>{{i.comment}}</p>
            <button type="button" class="btn-delete" @click='removeto(index)'>刪除</button>
            <br />
        </li>
        <div>num:{{starNum}}</div>
        <div class="gread-box">
            <img v-for="(i, index) in starArray " :src="i.src" @click='rating(index)' alt="starimg">
        </div>
    </div>


    <script src="./vendors/vue.js"></script>
    <script src="./js/test.js"></script>

</body>

</html>